<header ng-include="'sections/header.html'"></header>
<div class="row">
    <div class="col-md-5">
        <div class="col-md-12" style="margin-bottom: 10px;">
            <label class="label label-info">{{'checkout_details' | translate}}</label>
        </div>
        <div>
            <table border="1">
                <th class="paddingTable">{{'titre' | translate}}</th>
                <th class="paddingTable">{{'qte' | translate}}</th>
                <th class="paddingTable">{{'unit_price' | translate}}
                    <small>(Euro)</small>
                </th>
                <th class="paddingTable">{{'checkout_prix_ht' | translate}}
                    <small>(Euro)</small>
                </th>
                <th class="paddingTable">{{'checkout_prix_ttc' | translate}}
                    <small>(Euro)</small>
                </th>
                <tr ng-repeat="(key, ligne) in checkout.arrProduits">
                    <td class="paddingTable">{{ligne.title}}</td>
                    <td class="paddingTable">{{ligne.qte}}</td>
                    <td class="paddingTable" style="font-weight: bold; font-size: smaller"> {{ligne.unitprix}}</td>
                    <td class="paddingTable" style="font-weight: bold; font-size: smaller"> {{(ligne.unitprix *
                        ligne.qte).toFixed(2)}}
                    </td>
                    <td class="paddingTable" style="font-weight: bold; font-size: smaller"> {{(ligne.unitprix *
                        ligne.qte *
                        checkout.montants.valTax).toFixed(2)}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12" style="margin-bottom: 10px;">
            <label class="label label-info">{{'checkout_resume' | translate}}</label>
        </div>
        <div>
            <div class="col-md-12" style="margin-bottom: 25px;">
                <label class="label label-default label-sm"
                       style="font-size: large; width: 165px; margin-right: 10px;display: inline-block;text-align: right;">{{'checkout_frais_livraison' | translate}} : </label>
                <label class="label label-primary label-sm"
                       style="font-size: large; width: 165px;display: inline-block;text-align: right;">{{checkout.montants.frais_livr}}
                    <small> Euro</small>
                </label>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;">
                <label class="label label-default"
                       style="font-size: large; width: 165px ; margin-right: 10px;display: inline-block;text-align: right;">{{'checkout_prix_totale_ht' | translate}}: </label>
                <label class="label label-primary"
                       style="font-size: large; width: 165px;display: inline-block;text-align: right;">{{checkout.montants.prix_total_ht}}
                    <small> Euro</small>
                </label>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;">
                <label class="label label-default"
                       style="font-size: large; width: 165px ; margin-right: 10px;display: inline-block;text-align: right;">{{'checkout_tva' | translate}}
                    : </label>
                <label class="label label-primary"
                       style="font-size: large; width: 165px;display: inline-block;text-align: right;">{{checkout.montants.tax}}
                    <small> Euro</small>
                </label>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;">
                <label class="label label-default"
                       style="font-size: large; width: 165px; margin-right: 10px;display: inline-block;text-align: right;">{{'checkout_prix_totale_ttc' | translate}}: </label>
                <label class="label label-primary"
                       style="font-size: large; width: 165px;display: inline-block;text-align: right;">{{checkout.montants.prix_ttc}}
                    <small> Euro</small>
                </label>
            </div>
            <div class="col-md-12" ng-show="checkout.isSalesman==0" style="margin-bottom: 25px;">
                <label class="label label-default"
                       style="font-size: large; width: 165px; margin-right: 10px;display: inline-block;text-align: right;">{{'checkout_coupon_discount' | translate}}: </label>
                <input type="text" style="width: 165px;" ng-blur="checkout.fnCheckCode()"
                       ng-model="checkout.discountCode">
                <label class="label label-default" ng-show="checkout.isDiscountChecked">{{checkout.strMsgCode}}</label>
            </div>
            <div class="col-md-12" ng-show="checkout.isSalesman==1" style="margin-bottom: 25px;">
                <label class="label label-default"
                       style="font-size: large; width: 165px; margin-right: 10px;display: inline-block;text-align: right;">{{'checkout_perc_discount' | translate}}: </label>
                <input type="text" style="width: 165px;" ng-blur="checkout.fnCalcDisc()"
                       ng-model="checkout.percDiscount">
                <label class="label label-default">{{checkout.strMsgDiscount}}</label>
            </div>
            <div class="col-md-12" style="margin-bottom: 25px;">
                <label class="label label-default"
                       style="font-size: large; width: 165px; margin-right: 10px;display: inline-block;text-align: right;">{{'checkout_montant_net' | translate}}: </label>
                <label class="label label-primary"
                       style="font-size: large; width: 165px;display: inline-block;text-align: right;">{{checkout.montants.montant_net}}
                    <small> Euro</small>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-3" ng-show="checkout.isSalesman==1">
        <md-input-container style="margin-right: 10px;">
            <label>Client</label>
            <md-select ng-model="checkout.selClient" ng-change="checkout.test()">
                <md-option ng-repeat="item in checkout.listClients" value="{{item}}">
                    {{item.surname | uppercase}} {{item.name | uppercase}}
                </md-option>
            </md-select>
        </md-input-container>
        <span class="glyphicon glyphicon-refresh" ng-click="checkout.fnGetListClients()"></span>
        <table border="0" cellpadding="2" cellspacing="0" width="100%">
            <meta charset="UTF-8">
            <tr>
                <td width="50%"><label>{{'chk_company' | translate}}</label></td>
                <td width="100%"><label>{{checkout.selectedClient.company_name}}</label></td>
            </tr>
            <tr>
                <td width="50%"><label>{{'chk_nom' | translate}}</label></td>
                <td width="50%"><label>{{checkout.selectedClient.name}} {{checkout.selectedClient.surname}}</label></td>
            </tr>
            <tr>
                <td width="50%"><label>{{'chk_tel' | translate}}</label></td>
                <td width="50%"><label>{{checkout.selectedClient.phone}}</label></td>
            </tr>
            <tr>
                <td width="50%"><label>{{'chk_address' | translate}}</label></td>
                <td width="50%"><label>{{checkout.selectedClient.address}}</label></td>
            </tr>
            <tr>
                <td><label>{{'code_postal' | translate}}</label></td>
                <td width="50%"><label>{{checkout.selectedClient.postalcode}}</label></td>
            </tr>
            <tr>
                <td width="50%"><label>{{'chk_city' | translate}}</label></td>
                <td width="50%"><label>{{checkout.selectedClient.city}}</label></td>
            </tr>
            <tr>
                <td width="50%"><label>{{'chk_department' | translate}}</label></td>
                <td width="50%"><label>{{checkout.selectedClient.department}}</label></td>
            </tr>
        </table>
        <button class="btn btn-lg btn-success" value="Facturation" ng-click="checkout.fnPayCommercial()">
            {{'paiement' | translate}}
        </button>
    </div>
    <div class="col-md-3" ng-show="checkout.isSalesman==0">
        <div class="col-md-12">
            <label class="label label-info">{{'billing' | translate}}</label>
        </div>
        <div class="col-md-12">
            <form method="POST" action="https://www.klikandpay.com/paiement/order1.pl" accept-charset="UTF8"
                  id="knp-form" target="_top">
                <table border="0" cellpadding="2" cellspacing="0" width="100%">
                    <meta charset="UTF-8">
                    <tr>
                        <td width="50%"><label>{{'chk_company' | translate}}</label></td>
                        <td width="100%"><label>{{checkout.userDetails.company}}</label></td>
                    </tr>
                    <tr>
                        <td width="50%"><label>{{'chk_nom' | translate}}</label></td>
                        <td width="50%"><label>{{checkout.userDetails.name}} {{checkout.userDetails.surname}}</label></td>
                    </tr>
                   <!-- <tr>
                        <td width="50%"><label>{{'chk_name' | translate}}</label></td>
                        <td width="50%"><label>{{checkout.userDetails.name}}</label></td>
                    </tr>-->
                    <tr>
                        <td width="50%"><label>{{'chk_tel' | translate}}</label></td>
                        <td width="50%"><label>{{checkout.userDetails.telephone}}</label></td>
                    </tr>
                    <tr>
                        <td width="50%"><label>{{'chk_address' | translate}}</label></td>
                        <td width="50%"><label>{{checkout.userDetails.address}}</label></td>
                    </tr>
                    <tr>
                        <td><label>{{'chk_codepostal' | translate}}</label></td>
                        <td width="50%"><label>{{checkout.userDetails.postalcode}}</label></td>
                    </tr>
                    <tr>
                        <td width="50%"><label>{{'chk_city' | translate}}</label></td>
                        <td width="50%"><label>{{checkout.userDetails.city}}</label></td>
                    </tr>
                    <tr>
                        <td width="50%"><label>{{'chk_pays' | translate}}</label></td>
                        <td width="50%"><label>{{checkout.userDetails.country}}</label></td>
                    </tr>
                    <tr style="display: none;">
                        <td width="50%">{{'chk_surname' | translate}}:</td>
                        <td width="50%"><input type="text" name="NOM" size="24" ng-model="checkout.userDetails.surname">
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td width="50%">{{'chk_name' | translate}}:</td>
                        <td width="50%"><input type="text" name="PRENOM" size="24" ng-model="checkout.userDetails.name">
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td width="50%">{{'chk_address' | translate}}:</td>
                        <td width="50%"><input type="text" name="ADDRESSE" size="24"
                                               ng-model="checkout.userDetails.address"></td>
                    </tr>
                    <tr style="display: none">
                        <td width="50%">{{'chk_codepostal' | translate}}:</td>
                        <td width="50%"><input type="text" name="CODEPOSTAL" size="24"
                                               ng-model="checkout.userDetails.postalcode"></td>
                    </tr>
                    <tr style="display: none;">
                        <td width="50%">{{'chk_city' | translate}}:</td>
                        <td width="50%"><input type="text" name="VILLE" size="24" ng-model="checkout.userDetails.city">
                        </td>
                    </tr>
                    <!--<tr style="display: none;">
                        <td width="50%">Country:</td>
                        <td width="50%">
                            <input type="text" name="PAYS" size="24" ng-model="checkout.userDetails.country">
                        </td>
                    </tr>-->
                    <input type="hidden" name="L" value="checkout.lang" ng-model="FR"/>
                    <!--<td width="50%"><select size="1" name="PAYS">
                        <option value="FR" selected="selected">France</option>
                    </select>
                    </td>-->
                    <tr style="display: none">
                        <td width="50%">{{'chk_tel' | translate}}:</font></td>
                        <td width="50%"><input type="text" name="TEL" size="24" ng-model="checkout.userDetails.telephone">
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td width="50%">{{'chk_email' | translate}}:</font></td>
                        <td width="50%"><input type="text" name="EMAIL" size="24" ng-model="checkout.userDetails.email">
                        </td>
                    </tr>
                    <input type="hidden" name="ID" value="1494249383">
                    <input name="MONTANT" type="hidden" value="{{checkout.montants.montant_net}}">
                    <input id="dp_retourvok" name="RETOURVOK" type="hidden">
                    <input id="dp_retourvhs" name="RETOURVHS" type="hidden">
                    <tr>
                        <td width="100%" colspan="2">
                            <p align="center">

                            </p>
                        </td>
                    </tr>
                </table>
            </form>
            <form method="POST" action="https://www.klikandpay.com/paiement/order1.pl" accept-charset="UTF8"
                  id="knp-form_xfois" target="_top">
                <table border="0" cellpadding="2" cellspacing="0" width="20%">
                    <meta charset="UTF-8">
                    <tr style="display: none;">
                        <td width="50%">{{'chk_surname' | translate}}:</td>
                        <td width="50%"><input type="text" name="NOM" size="24" ng-model="checkout.userDetails.surname">
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td width="50%">{{'chk_name' | translate}}:</td>
                        <td width="50%"><input type="text" name="PRENOM" size="24" ng-model="checkout.userDetails.name">
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td width="50%">{{'chk_address' | translate}}:</td>
                        <td width="50%"><input type="text" name="ADDRESSE" size="24"
                                               ng-model="checkout.userDetails.address"></td>
                    </tr>
                    <tr style="display: none">
                        <td width="50%">{{'chk_codepostal' | translate}}:</td>
                        <td width="50%"><input type="text" name="CODEPOSTAL" size="24"
                                               ng-model="checkout.userDetails.postalcode"></td>
                    </tr>
                    <tr style="display: none;">
                        <td width="50%">{{'chk_city' | translate}}:</td>
                        <td width="50%"><input type="text" name="VILLE" size="24" ng-model="checkout.userDetails.city">
                        </td>
                    </tr>
                    <input type="hidden" name="L" value="checkout.lang" ng-model="FR"/>

                    <tr style="display: none">
                        <td width="50%">{{'chk_tel' | translate}}:</font></td>
                        <td width="50%"><input type="text" name="TEL" size="24" ng-model="checkout.userDetails.telephone">
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td width="50%">{{'chk_email' | translate}}:</font></td>
                        <td width="50%"><input type="text" name="EMAIL" size="24" ng-model="checkout.userDetails.email">
                        </td>
                    </tr>
                    <input type="hidden" name="ID" value="1494249383">
                    <input name="MONTANT" type="hidden" value="{{checkout.montants.montant_net}}">
                    <input id="id_xfois" type="hidden"  name="EXTRA" value="{{checkout.xfois}}">
                    <input id="dp_retourvok1" name="RETOURVOK" type="hidden">
                    <input id="dp_retourvhs1" name="RETOURVHS" type="hidden">
                    <tr>
                        <td width="100%" colspan="2">
                            <p align="center">

                            </p>
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                <md-input-container>
                    <label>{{'paiement' | translate}}</label>
                    <md-select ng-model="checkout.userState">
                        <md-option ng-repeat="state in checkout.states" ng-value="$index" >
                            {{state}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <button class="btn btn-lg btn-success" value="Facturation" ng-click="checkout.fnPay()">
                {{'paiement' | translate}}
            </button>
        </div>
    </div>
</div>
<footer>
    <div class="signature">
        <div class="col-md-4">
            <span class='block-image' ng-show="checkout.isFrance"><img style="width: 60px; height: 60px;"
                                                                      src="images/Logo_fabrique_en_france.png"></span>
            <span class='block-image'><img style="width: 60px; height: 60px;"
                                           src="images/logo_Imprim_vert_vert.png"></span>
            <span class='block-image'><img style="width: 60px; height: 60px;" src="images/moton71.gif"></span>
            <span class='block-image'><img style="width: 60px; height: 60px;" src="images/moton73.gif"></span>
        </div>
        <div class="col-md-offset-4" style="padding-top: 50px">
            <a href="#/apropos" style="color: white">{{'whois' | translate}}</a> / <a style="color: white "
                                                                                      href="#/conditionvente">{{'vente_conditions'
            | translate}}</a> / <a style="color: white " href="#/utilisation">{{'usage_utils' | translate}}</a> / <a
                style="color: white " href="#/legale">{{'usage_legal' | translate}}</a>
        </div>
    </div>
</footer>