<header ng-include="'sections/header.html'"></header>
<div class="row">
    <div class="col-sm-3 col-md-3" style="cursor: pointer;">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" ng-click="client.fnToggleTab(1)"><span
                                class="glyphicon glyphicon-folder-close">
                            </span>{{'commandes' | translate}}</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-flash text-primary"></span><a
                                        ng-click="client.fnChangeDiv('commandes')">{{'commandes_list' | translate}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" ng-click="client.fnToggleTab(3)"><span
                                class="glyphicon glyphicon-user">
                            </span>{{'compte' | translate}}</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-random text-danger"></span><a
                                        ng-click="client.fnChangeDiv('password')">{{'change_password' | translate}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-cog text-warning"></span><a
                                        ng-click="client.fnChangeDiv('params')">{{'params' | translate}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9" id="espaceClient">
        <img style="display: block; margin: auto" src="../../images/bande_suivi_commande.jpeg">
        <table ng-table="client.tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">
                <td data-title="langue.client_no_commande" filter="{id: 'number'}" sortable="'id'">{{row.id}}</td>
                <td data-title="langue.client_name">{{row.client_name}}</td>
                <td data-title="langue.postalcode">{{row.postalcode}}</td>
                <td data-title="langue.client_nb_prod" sortable="'num_prods'">{{row.num_prods}}</td>
                <td data-title="langue.client_tax" sortable="'tax'"><b>{{row.tax | currency : "€ "}}</b></td>
                <td data-title="langue.client_prix_ttc" filter="{total_prix_net: 'number'}" sortable="'total_prix_ttc'">
                    <b>{{row.total_prix_net | currency : "€ "}}</b></td>
                <td data-title="langue.client_date_commande" sortable="'date_created'">{{row.date_commande}}</td>
                <td data-title="langue.client_facture">
                    <span ng-show="row.pdf_src != null">
                        <a class="glyphicon glyphicon-file" style="cursor:pointer;" download href="../../../api/pdf/factures/{{row.pdf_src}}" ></a>
                    </span>
                </td>
                <td data-title="langue.client_status" sortable="'status'"><span class="badge">{{row.status_val}}</span>
                </td>
                <td data-title="">
                    <button class="btn btn-info btn-circle" ng-click="client.fnLoadModal(row.id)">i</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-9 col-md-9" id="divPass" style="display: none">
        <div class="well">
            <md-input-container style="width: 50%">
                <label>{{'password' | translate}}</label>
                <input type="password" ng-model="client.password" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'client_new_password' | translate}}</label>
                <input type="password" ng-model="client.password1" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'client_new_password' | translate}}</label>
                <input type="password" ng-model="client.password2" required>
            </md-input-container>
        </div>
        <md-button class="md-raised md-primary" ng-click="client.fnVerifPass()">{{'valider' | translate}}</md-button>
    </div>
    <div class="col-sm-9 col-md-9" id="divParams" style="display: none">
        <div class="well">
            <md-input-container style="width: 50%">
                <label>{{'mail' | translate}}</label>
                <input type="email" ng-model="client.infoClient.email" disabled>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'company_name' | translate}}</label>
                <input type="text" ng-model="client.infoClient.company_name" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'surname' | translate}}</label>
                <input type="text" ng-model="client.infoClient.surname" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'name' | translate}}</label>
                <input type="text" ng-model="client.infoClient.name" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'no_tel' | translate}}</label>
                <input type="tel" ng-model="client.infoClient.phone" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'adresse' | translate}}</label>
                <input type="text" ng-model="client.infoClient.address" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'ville' | translate}}</label>
                <input type="text" ng-model="client.infoClient.city" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'code_postal' | translate}}</label>
                <input type="text" ng-model="client.infoClient.postalcode" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'no_siret' | translate}}</label>
                <input type="text" ng-model="client.infoClient.siret" required>
            </md-input-container>
            <md-input-container style="width: 50%">
                <label>{{'pays' | translate}}</label>
                <input type="text" ng-model="client.infoClient.pays" disabled>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="client.fnValidInfo()">{{'valider' | translate}}
            </md-button>
        </div>
    </div>
</div>

<footer>
    <div>
        <div class="signature">
            <div class="col-md-4">
                <span class='block-image' ng-show="client.isFrance"><img style="width: 80px; height: 80px;"
                                                                         src="images/Logo_fabrique_en_france.png"></span>
                <span class='block-image'><img style="width: 80px; height: 80px;"
                                               src="images/logo_Imprim_vert_vert.png"></span>
                <span class='block-image'><img style="width: 80px; height: 80px;" src="images/moton71.png"></span>
                <span class='block-image'><img style="width: 80px; height: 80px;" src="images/moton73.png"></span>
            </div>
            <div class="col-md-offset-4" style="padding-top: 50px">
                <a href="#/apropos" style="color: white">{{'whois' | translate}}</a> / <a style="color: white "
                                                                                          href="#/conditionvente">{{'vente_conditions'
                | translate}}</a> / <a style="color: white " href="#/utilisation">{{'usage_utils' | translate}}</a> / <a
                    style="color: white " href="#/legale">{{'usage_legal' | translate}}</a>
            </div>
        </div>
    </div>
</footer>


<div id="detailsCommande" class="modal fade" data-backdrop="static" style="overflow: hidden">
    <div class="modal-dialog" style="width: 75%;height: 510px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="client.fnRemoveModal()" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title"> {{'client_description' | translate}}</h4>
            </div>
            <div class="modal-body" style="height: 450px;overflow: auto">
                <table ng-table="client.infoCommandes" class="table table-condensed table-bordered table-striped">
                    <tr ng-repeat="row in $data">
                        <td data-title="langue.client_titre" sortable="'title'">{{row.title}}</td>
                        <td data-title="langue.client_dimension" sortable="'dimension'">{{row.dimension}}</td>
                        <td data-title="langue.client_attach_escargot" sortable="'escargot_val'">{{row.
                            escargot_val}}
                        </td>
                        <td data-title="langue.client_contours" sortable="'contours'">{{row.contours}}</td>
                        <td data-title="langue.client_liserai" sortable="'liserai'">{{row.liserai}}</td>
                        <td data-title="langue.client_prix_unitaire" sortable="'prix_unitaire'">{{row.prix_unitaire |
                            currency : "€ "}}
                        </td>
                        <td data-title="langue.client_prix_ttc" sortable="'prix_ttc'">{{row.prix_ttc | currency : "€
                            "}}
                        </td>
                        <td data-title="langue.client_commentaire" sortable="'commentaire'">{{row.commentaire}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="client.fnRemoveModal()">{{'quit' |
                    translate}}
                </button>
            </div>
        </div>
    </div>
</div>