<div class="row" style="margin-right: 0px">
    <div class="col-md-6 col-sm-6">
        <div><img src="images/logo_exakomBIS.jpeg"></div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class='block-tel'>
            <div class="col-md-12">{{langue.contact}}</div>
            <div class="col-md-12">contact@exakom.fr</div>
            <div class="col-md-12">{{langue.telephone}} : 00 00 00 00 00</div>
            <!--div class="col-md-12"><img  src="assets/img/numero_verte.png"></div-->
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2">
        <div style="cursor: pointer" ng-click="fnClickLang()"><span class="glyphicon glyphicon-retweet">   {{isActualLang}}</span></div>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{{langue.toggle_nav}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a style="color: white" href="#/home">{{langue.accueil}} <span class="sr-only">(current)</span></a></li>
                <li><a href="#/client" style="color: white">{{langue.espace_client}}</a></li>
                <!--li><a href="#" style="color: white">{{langue.contact_menu}}</a></li-->
            </ul>

            <ul class="nav navbar-nav navbar-right" style="cursor: pointer">
                <li ng-show="!isLogged">
                    <a ng-click="loginModal()" data-toggle="modal" style="color: white">
                        <span class="glyphicon glyphicon-user"> Connection</span>
                    </a>
                </li>
                <li ng-show="isLogged" style="margin-top: 20px">
                    <span ng-click="logout()">{{langue.bonjour}} {{utilisateur}}</span> <button class="btn btn-danger" ng-click="logout()"><span class="glyphicon glyphicon-off"></span></button>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="row" ng-show="{{!isFiche}}">
        <div class="col-md-10 col-md-offset-1" style=" height: 150px;background-color: #E5E3E3;">Bande PUB132</div>
    </div>
    <div class="row no-gutter panel" ng-show="{{!isFiche}}">

        <div class="col-md-4 col-sm-4">
            <div class="btn1">
                <span class="icon"><span class="glyphicon glyphicon-time"></span></span>
                <span class="txt">{{langue.jour_semaine}} <br>{{langue.heure_semaine}}</span>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">

            <div class="btn2">
                <span class="icon"><span class="glyphicon glyphicon-phone"></span></span>
                <span class="txt">{{langue.besoin_aide}} <br>{{langue.etre_rapeler}}</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="btn3">
                <span class="icon"><span class="glyphicon glyphicon-gift"></span></span>
                <span class="txt">{{langue.recevoir}} <br>{{langue.promo_cadeau}}</span>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{langue.connexion}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-lg-12 col-sm-12" style="margin-bottom: 10px;"><div class="label-danger"><b>{{alertMsg}}</b></div></div>
                </div>
                <form name="loginForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="email"> {{langue.email_phone}} </label>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Email" name="email" ng-model="login.email" required focus/>
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="password"> {{langue.password}} </label>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="clearfix">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right"> </label>
                            <div class="col-sm-7">

                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <span class="lbl col-sm-3"> </span><div class="col-sm-7">Pas de compte? <a href="" ng-click="fnSignUp()">{{langue.register}}</a></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="width-35 pull-right btn btn-md btn-primary" data-dismiss="modal" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                    <i class="ace-icon fa fa-key"></i>
                    {{langue.connect}}
                </button>
                <!--button type="button" class="btn btn-danger pull-left" ng-click="logout()">LOGOUT</button-->
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!--SIGN UP FORM-->
<div id="signup" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 75%;height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{langue.registration}}</h4>
            </div>
            <div class="modal-body">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-offset-1">
                            <div id="login-box">
                                <div>
                                    <div >
                                        <form name="signupForm" class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="email">{{langue.mail}}</label>
                                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus/>
                                        <span ng-show="signupForm.email.$error.email" class="help-inline">{{langue.mail_msg}}</span>
                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="password">{{langue.password}}</label>
                                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Mot de Passe" ng-model="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> {{langue.enter_password}}</small>
                            </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="password2">{{langue.confirm_password}]</label>
                                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Mot de Passe" ng-model="signup.password2" password-match="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> {{langue.enter_password}}</small>

                               <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> {{password_msg}}</small>

                            </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="name">{{langue.name}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Nom" ng-model="signup.name" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="phone">{{langue.no_tel}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="signup.phone"/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="address">{{langue.adresse}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Adresse" ng-model="signup.address" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="ville">{{langue.ville}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Ville" ng-model="signup.ville" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="codepostal">{{langue.code_postal}}</label>
                                                <div class="col-sm-7">
                                                     <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Code Postal" ng-model="signup.codepostal" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="nosiret">{{langue.no_siret}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="No Siret" ng-model="signup.nosiret" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <span class="lbl col-sm-5"> </span>
                                                <div class="col-sm-7">
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                                        {{langue.registration}}
                                                    </button>
                                                </div>
                                            </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!--MODAL LANGUAGE-->
<div id="modalLanguage" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 75%;height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{langue.choix_langue}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <input id="fr"  type="radio" name="selLang" ng-model="language.fr"><span><img src="../assets/flags/france-flag.gif" style="width: 50px;height: 50px"> FRANCAIS</span>
                    </div>
                    <div class="col-md-2">
                        <input id="en" type="radio" name="selLang" ng-model="language.en"> <span><img src="../assets/flags/england.jpg" style="width: 50px;height: 50px"> ENGLISH</span>
                    </div>
                    <div class="col-md-2">
                        <input  id="es" type="radio" name="selLang" ng-model="language.es"> <span><img src="../assets/flags/spanish_flag.jpg" style="width: 50px;height: 50px"> ESPAÑOL</span>
                    </div>
                    <div class="col-md-2">
                        <input id="al" type="radio" name="selLang" ng-model="language.dt"> <span><img src="../assets/flags/germany-flag.gif" style="width: 50px;height: 50px"> DEUTSCH</span>
                    </div>
                    <div class="col-md-2">
                        <input id="it" type="radio" name="selLang" ng-model="language.it"> <span><img src="../assets/flags/italy.png" style="width: 50px;height: 50px"> ITALIANO</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="quitModal()">Quitter</button>
                <button type="button" class="btn btn-success pull-right" ng-click="fnValidLang()">Valider</button>
            </div>
        </div>

    </div>
</div>