<div class="row">
    <div class="col-md-2">
        <!--img style="width: 100%;height: 100%" src="assets/images/exakom_minified2.png"></a-->
        <img style="width: 100%;height:64px" src="images/log.png"></a>
    </div>
    <div class="col-md-10">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">{{'toggle_nav' | translate}}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--a class="navbar-brand" href="#/home"><img style="width:100px; height:50px" src="images/logo_exakomBIS.jpeg"></a-->
                    <!--a class="navbar-brand" href="#/home"><img src="assets/images/exakom_minified.png"></a-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a style="color: white" href="#/home">{{'accueil' | translate}} <span class="sr-only">(current)</span></a>
                        </li>
                        <li ng-show="isLogged"><a href="#/client" style="color: white">{{'espace_client' |
                            translate}}</a></li>
                        <li ng-show="isCommercial"><a href="#/commercial" style="color: white">{{'espace_commercial' |
                            translate}}</a></li>
                        <li><a href="#/tutoriels" style="color: white">{{'espace_tutoriels' |
                            translate}}</a></li>
                        <!--li><a href="#" style="color: white">{{langue.contact_menu}}</a></li-->
                    </ul>

                    <ul class="nav navbar-nav navbar-right" style="cursor: pointer; padding-right: 20px">
                        <li ng-show="!isLogged">
                            <a ng-click="loginModal()" data-toggle="modal" style="color: white">
                                <span class="glyphicon glyphicon-user"> Connection</span>
                            </a>
                        </li>
                        <li ng-show="isLogged" style="margin-top: 25px; padding: 5px; font-weight: bold">
                            <span ng-click="logout()">{{'bonjour' | translate}} {{utilisateur}}</span>
                        </li>
                        <li style="margin-top: 25px">
                    <span ng-click="fnClickLang()">
                        <span class="glyphicon glyphicon-retweet"> </span>
                        <label class="label label-primary" style="cursor: pointer">{{isActualLang}}</label>
                    </span>
                        </li>
                        <li ng-show="isLogged" style="margin-top: 25px">
                            <button class="btn btn-danger btn-circle" ng-click="logout()"><span
                                    class="glyphicon glyphicon-off"></span></button>
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>

<div class="row">
    <div class="row" ng-show="!isFiche">
        <div class="col-md-10 col-md-offset-1"><img style=" height: 150px;width:100%; background-color: #E5E3E3;"
                                                    src="{{pub_src}}"></div>
    </div>
    <div class="row no-gutter panel" ng-show="!isFiche">
        <div class="col-md-4 col-sm-4">
            <div class="btn1">
                <span class="icon"><span class="glyphicon glyphicon-time"></span></span>
                <span class="txt">{{'jour_semaine' | translate}} <br>{{'heure_semaine' | translate}}</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">

            <div class="btn2">
                <span class="icon"><span class="glyphicon glyphicon-phone"></span></span>
                <span class="txt">{{'besoin_aide' | translate}} <br>{{'etre_rapeler' | translate}}</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="btn3">
                <span class="icon"><span class="glyphicon glyphicon-gift"></span></span>
                <span class="txt">{{'recevoir' | translate}} <br>{{'promo_cadeau' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" data-backdrop="static" style="z-index: 1050">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'connexion' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-lg-12 col-sm-12" style="margin-bottom: 10px;">
                        <div class="label-danger"><b>{{alertMsg}}</b></div>
                    </div>
                </div>
                <form name="loginForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="email"> {{'email_phone' |
                            translate}} </label>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Email" name="email"
                                       ng-model="login.email" required focus/>
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="password"> {{'password' |
                            translate}} </label>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="Password"
                                       ng-model="login.password" required/>
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="clearfix">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right"> </label>
                            <div class="col-sm-7">

                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <span class="lbl col-sm-3"> </span>
                    <div class="col-sm-7">Pas de compte? <a href="" ng-click="fnSignUp()">{{'register' | translate}}</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="width-35 pull-right btn btn-md btn-primary" data-dismiss="modal"
                        ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                    <i class="ace-icon fa fa-key"></i>
                    {{'connect' | translate}}
                </button>
                <!--button type="button" class="btn btn-danger pull-left" ng-click="logout()">LOGOUT</button-->
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!--SIGN UP FORM-->
<div id="signup" class="modal fade" data-backdrop="static" style="z-index: 1050">
    <div class="modal-dialog" style="width: 75%;height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'registration' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-offset-1">
                            <div id="login-box">
                                <div>
                                    <div>
                                        <form name="signupForm" class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="email">{{'mail'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Email"
                                                               name="email" ng-model="signup.email" focus required/>
                                                        <span ng-show="signupForm.email.$error.email"
                                                              class="help-inline">{{'mail_msg' | translate}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="password">{{'password'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" name="password"
                                                               placeholder="Mot de Passe" ng-model="signup.password"
                                                               required/>
                                                        <small class="errorMessage"
                                                               data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> {{'enter_password' | translate}}</small>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="password2">{{'confirm_password'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                    <input type="password" class="form-control" name="password2"
                                                           placeholder="Mot de Passe" ng-model="signup.password2"
                                                           password-match="signup.password" required/>
                                                    <small class="errorMessage"
                                                           data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> {{'enter_password' | translate}}</small>

                                                    <small class="errorMessage"
                                                           data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> {{password_msg}}</small>

                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="name">{{'name'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Nom"
                                                               ng-model="signup.name" required/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="surname">{{'surname'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Prénom"
                                                               ng-model="signup.surname" required/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="phone">{{'no_tel'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Phone"
                                                               name="phone" ng-model="signup.phone" required/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="address">{{'adresse'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Adresse"
                                                               ng-model="signup.address" required/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="ville">{{'ville'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Ville"
                                                               ng-model="signup.ville" required/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="codepostal">{{'code_postal'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                     <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control"
                                                               placeholder="Code Postal" ng-model="signup.codepostal"
                                                               required/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right"
                                                       for="pays">Pays</label>
                                                <div class="col-sm-7">
                                                     <span class="block input-icon input-icon-right">
                                                        <select id="userPays" name="pays">
                                                          <option value="FR" selected>FR</option>
                                                          <option value="AL">AL</option>
                                                          <option value="EN">EN</option>
                                                          <option value="ES">ES</option>
                                                          <option value="IT">IT</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="nosiret">{{'no_siret'
                                                    | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="No Siret"
                                                               ng-model="signup.nosiret"/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <span class="lbl col-sm-5"> </span>
                                                <div class="col-sm-7">
                                                    <button type="submit"
                                                            class="width-35 pull-right btn btn-sm btn-primary"
                                                            ng-click="signUp(signup)"
                                                            data-ng-disabled="signupForm.$invalid">
                                                        {{'registration' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--MODAL LANGUAGE-->
<div id="modalLanguage" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 75%;height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'choix_langue' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <input id="fr" type="radio" name="selLang" ng-model="language.fr"><img
                            src="../assets/flags/france-flag.gif" style="width: 40px;height: 40px">
                        <span>FRANCAIS</span>
                    </div>
                    <div class="col-md-2">
                        <input id="en" type="radio" name="selLang" ng-model="language.en"> <span><img
                            src="../assets/flags/england.jpg" style="width: 40px;height: 40px"> </span>ENGLISH
                    </div>
                    <div class="col-md-2">
                        <input id="es" type="radio" name="selLang" ng-model="language.es"> <span><img
                            src="../assets/flags/spanish_flag.jpg" style="width: 40px;height: 40px"> ESPAÑOL</span>
                    </div>
                    <div class="col-md-2">
                        <input id="al" type="radio" name="selLang" ng-model="language.dt"> <span><img
                            src="../assets/flags/germany-flag.gif" style="width: 40px;height: 40px"> DEUTSCH</span>
                    </div>
                    <div class="col-md-2">
                        <input id="it" type="radio" name="selLang" ng-model="language.it"> <span><img
                            src="../assets/flags/italy.png" style="width: 40px;height: 40px"> ITALIANO</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="quitModal()">Quitter</button>
                <button type="button" class="btn btn-success pull-right" ng-click="fnValidLang()">Valider</button>
            </div>
        </div>

    </div>
</div>