<header ng-include="'sections/header.html'"></header>
<div class="a2a_kit a2a_kit_size_52 a2a_floating_style a2a_vertical_style" style="right:0px; top:100px;background-color: transparent;">
    <!--a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a-- class="a2a_button_google_plus"></a-->
    <!--a class="">Passer la commande</a-->
    <!--a-- class="">Ajouter au Panier</a-->
    <div style="margin-bottom: 5px;">
        <img src="../assets/images/mon_panier.png" ng-click="fiche.fnClickPanier()" style="width:120px; height:65px;cursor:pointer;">

    </div>
    <div>
        <img src="../assets/images/ajouter_au_panier.png" ng-click="fiche.fnAddBasket()" style="width:120px; height:65px;cursor:pointer;">
    </div>

    <!--a class="btn btn-warning" ng-click="fiche.fnClickPanier()" style="margin-bottom: 5px;"><div class="glyphicon glyphicon-shopping-cart"></div><div>{{langue.panier}}</div><div>({{fiche.countProds}})</div></a>
    <a class="btn btn-success" ng-click="fiche.fnAddBasket()"><div class="glyphicon glyphicon-plus-sign"></div><div>{{langue.ajout_panier}}</div></a-->
</div>
<!--script-- async src="https://static.addtoany.com/menu/page.js"></script-->
<script src="js/page.js" type="application/javascript"></script>

<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-md-12">
            <div id="main-container">
                <div class="row">
                    <div class="col-md-9" style="margin-left: 50px"><h3 id="clothing">{{'create_maquette' | translate}}</h3></div>
                    <div class="col-md-2 pull-right"><button class="btn btn-warning" ng-click="fiche.fnClickPanier()">{{'panier_unite' | translate}} <span class="glyphicon glyphicon-shopping-cart"></span> ({{fiche.countProds}})</button></div>
                </div>

                <div class="row" style="margin: 2px">
                    <div class="col-md-8 well well-sm" style="margin-left: 50px">{{'bonatirer_msg' | translate}}</div>
                    <div class="col-md-12 " style="margin: 5px">
                        <div class="col-md-12" style="padding-bottom: 5px">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'titre' | translate}}
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="fiche.produit.titre" placeholder="Titre" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 5px" ng-show="fiche.productList[0].escargot == 1">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'opt_attache' | translate}}
                            </div>
                            <div class="col-md-7">
                                <form>
                                    <label class="radio-inline">
                                        <input id="aucunEscargot" type="radio" name="optescargot" value="0">{{'aucun' |translate}}
                                    </label>
                                    <label class="radio-inline">
                                        <input id="avecTrou" type="radio" name="optescargot" value="1">{{'attache_escargot' | translate}}
                                    </label>
                                    <label class="radio-inline">
                                        <input id="sansTrou" type="radio" name="optescargot" value="2">{{'avec_trou' | translate}}
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 5px" ng-show="fiche.productList[0].contours == 1 || fiche.productList[0].liserai == 1">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'carac_add' | translate}}
                            </div>
                            <div class="col-md-7">
                                <form>
                                    <label class="radio-inline">
                                        <input id="aucun" type="radio" name="optradio" value="0">{{'aucun' | translate}}
                                    </label>
                                    <label ng-show="fiche.productList[0].contours == 1" class="radio-inline">
                                        <input id="trait" type="radio" name="optradio" value="1">{{'cadre' | translate}}
                                    </label>
                                    <label class="radio-inline" ng-show="fiche.productList[0].liserai == 1">
                                        <input id="liserai" type="radio" name="optradio" value="2">{{'lisere' | translate}}
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 5px">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'commande' | translate}}
                            </div>
                            <div class="col-md-7">
                                <form>
                                    <label  class="radio-inline">
                                        <input id="cmdBonTirer" type="radio" name="optcommande" value="1">{{'bonatirer_avec' | translate}}
                                    </label>
                                    <label class="radio-inline">
                                        <input id="cmdBonNonTirer" type="radio" name="optcommande" value="2">{{'bonatirer_sans' | translate}}
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 5px">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'finition_ppr' | translate}}
                            </div>
                            <div class="col-md-7" style="padding-bottom: 5px">
                                <select class="sel_papier" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 5px">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'dimensions' | translate}}
                            </div>
                            <div class="col-md-7" style="padding-bottom: 5px">
                                <select class="sel_dimensions" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 5px">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'qte' | translate}}
                            </div>
                            <div class="col-md-7">
                                <select class="sel_qte" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3" style="font-weight: bold">
                                {{'vos_instructions' | translate}}
                            </div>
                            <div class="col-md-7">
                                <textarea class="form-control" rows="5" id="comment" ng-model="fiche.produit.commentaire"></textarea>
                            </div>
                        </div>
                        <!--div class="col-md-12">
                            <div class="col-md-3" style="font-weight: bold">
                                {{langue.prix_unite}}
                            </div>
                            <div class="col-md-7">
                                <span><p>{{fiche.unitprix}} {{langue.euro}}</p></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3" style="font-weight: bold">
                                {{langue.prix_vente}}
                            </div>
                            <div class="col-md-7">
                                <div>{{fiche.prixvente}} {{langue.euro}}</div>
                            </div>
                        </div-->
                    </div>
                    <div class="col-md-12" style="margin: 5px">
                        <button ng-click="fiche.fnMetierList();" class="col-md-3 btn btn-lg " style="background-color: #D893E3; color: white; text-wrap: normal"><span><img src="images/icons/gallery.ico" style="height: 50px;width:50px"></span> {{'galerie_models' | translate}}</button>
                        <!--button type="button" class="btn btn-success pull-right" ng-click="fiche.fnSaveProduit(0)">Ajouter Au panier</button-->
                        <!--button type="button" class="btn btn-success pull-right" ng-click="fiche.fnSaveProduit(1)">PASSEZ MA COMMANDE AVEC BON À TIRER</button-->
                        <div class=" col-md-7" style="text-align: center; color: darkgrey">
                            <div>
                                <b>{{'conception_msg' | translate}}</b>
                            </div>
                            <div>
                                <b>{{'conception_msg1' | translate}}</b>
                            </div>
                            <div>
                                <b>{{'conception_msg2' | translate}}</b>
                            </div>
                        </div>
                        <button class="col-md-2 btn btn-primary btn-lg pull-right" style="height: 72px;background-color: #D893E3; color: white;" ng-click="fiche.fnAddBasket()">{{'ajout_panier' | translate}}</button>
                        <!--button ng-click="" class="btn btn-primary btn-lg" style="height: 72px;"> Confiez nous la conception de votre maquette</button-->
                    </div>
                    <div class="col-md-12">
                        <div id="model" class="fpd-container fpd-shadow-2 fpd-topbar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-left">
                            <div class="fpd-design">
                                <div ng-repeat="design in fiche.productsDesign" class="fpd-category" title="{{design.libelle}}">
                                    <img ng-repeat="image in design.data" src="{{image.src}}"  title="{{image.libelle}}" data-parameters='{"zChangeable": true, "left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 0, "boundingBox": "Base", "autoCenter": true}' />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div id="imgScroll">
            <img ng-repeat="lien in fiche.imgList" src="{{lien.src}}" title="{{lien.title}}" class="imgScroll"/>
        </div>
    </div>
</div>
<div id="galleryModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 75%;height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span><img src="images/icons/gallery.ico" style="height: 50px;width:50px">{{'galerie_models' | translate}}</span></h4>
            </div>
            <div class="modal-body" style="height: 550px;overflow: scroll">
                <div class="row" style="padding: 3px;">
                    <div class="col-md-2">{{'type_model' | translate}} </div>
                    <div id="selModelMetier" class="col-md-10" >
                        <select class="sel_model_metier" style="width: 75%;"></select>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li id="tab1" ng-class="{ active: fiche.activeId == 1 }" style="cursor: pointer" ng-click="fiche.fnClickTabs(1)"><a>{{'maquette_avec' | translate}}</a></li>
                    <li id="tab2" ng-class="{ active: fiche.activeId == 2 }" style="cursor: pointer" ng-click="fiche.fnClickTabs(2)"><a>{{'maquette_sans' | translate}}</a></li>
                </ul>
                <div ng-show="fiche.isShow == 1">
                    <!--div class="row" style="padding: 3px;">
                        <div class="col-md-2">Metier : </div>
                        <div id="selCategory" class="col-md-10" >
                            <select class="sel_metier" style="width: 75%;"></select>
                        </div>
                    </div-->

                    <div class="col-md-4" style="margin-bottom: 5px; margin-top: 5px;" ng-repeat="model in fiche.models">
                        <div class="tileImg" style="height: 250px" ng-click="fiche.fnModelClick(model.id_cata, model.id_metier)" >
                            <img style="width: 100%; height: 200px" src="{{model.src}}">
                            <span><p>{{model.description}}</p></span>
                        </div>
                    </div>
                </div>

                <div ng-show="fiche.isShow == 2">
                    <div class="col-md-4" style="margin-bottom: 5px; margin-top: 5px;" ng-repeat="model in fiche.
                    gabarits">
                        <div class="tileImg" style="height: 250px" ng-click="fiche.fnModelClick(model.id_cata, model.id_metier)" >
                            <img style="width: 100%; height: 200px" src="{{model.src}}">
                            <span><p>{{model.description}}</p></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalMaquette" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span>{{'valid_schema' | translate}}</span></h4>
            </div>
            <div class="modal-body" style="overflow: hidden">
               <div class="row">
                   <div class="well well-lg">
                       <p>
                           {{'msg_commande' | translate}}
                       </p>
                   </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" ng-click="" data-dismiss="modal">{{'cancel' | translate}}</button>
                <button type="button" class="btn btn-success pull-right" ng-click="fiche.fnSaveProduit(0)">{{'commande_sans_bat' | translate}}</button>
                <button type="button" class="btn btn-success pull-right" ng-click="fiche.fnSaveProduit(1)">{{'commande_avec_bat' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!--SIGN UP FORM-->
<div id="signupFiche" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 75%;height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'registration' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-offset-1">
                            <div id="login-box">
                                <div>
                                    <div >
                                        <form name="signupForm" class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="email">{{'mail' | translate}}</label>
                                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus/>
                                        <span ng-show="signupForm.email.$error.email" class="help-inline">{{'mail_msg' | translate}}</span>
                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="password">{{'password' | translate}}</label>
                                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Mot de Passe" ng-model="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> {{'enter_password' | translate}}</small>
                            </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="password2">{{'confirm_password' | translate}}</label>
                                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Mot de Passe" ng-model="signup.password2" password-match="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> {{'enter_password' | translate}}</small>

                               <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> {{'password_msg' | translate}}</small>

                            </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="name">{{'name' | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Nom" ng-model="signup.name" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="phone">{{'no_tel' | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="signup.phone"/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="address">{{'adresse' | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Adresse" ng-model="signup.address" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="ville">{{'ville' | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Ville" ng-model="signup.ville" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="codepostal">{{'code_postal' | translate}}</label>
                                                <div class="col-sm-7">
                                                     <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Code Postal" ng-model="signup.codepostal" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label no-padding-right" for="nosiret">{{'no_siret' | translate}}</label>
                                                <div class="col-sm-7">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="No Siret" ng-model="signup.nosiret" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <span class="lbl col-sm-5"> </span>
                                                <div class="col-sm-7">
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="fiche.fnRegister(signup)" data-ng-disabled="signupForm.$invalid">
                                                        {{'registration' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--PANIER CHECKOUT-->
<div id="modalPanier" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 90%;height:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-shopping-cart"></span><span> {{'panier_produit' | translate}}</span></h4>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <div class="row">
                    <table border="1">
                        <th class="paddingTable">{{'titre' | translate}}</th>
                        <th class="paddingTable">{{'opt_attache' | translate}}</th>
                        <th class="paddingTable">{{'additionel' | translate}}</th>
                        <th class="paddingTable">{{'commande' | translate}}</th>
                        <th class="paddingTable">{{'finition_ppr' | translate}}</th>
                        <th class="paddingTable">{{'finition_ppr' | translate}}</th>
                        <th class="paddingTable">{{'qte' | translate}}</th>
                        <th class="paddingTable">{{'instructions' | translate}}</th>
                        <th class="paddingTable">{{'prix' | translate}}</th>
                        <th class="paddingTable">{{'actions' | translate}}</th>
                        <tr ng-repeat="(key, ligne) in fiche.arrProduits">
                            <td class="paddingTable">{{ligne.title}} - {{key}}</td>
                            <!--Escargot-->
                            <td class="paddingTable" ng-show="ligne.escargot == 0">{{'aucun' | translate}}</td>
                            <td class="paddingTable" ng-show="ligne.escargot == 1">{{'attache_escargot' | translate}}</td>
                            <td class="paddingTable" ng-show="ligne.escargot == 2">{{'avec_trou' | translate}}</td>
                            <!--Caractéristiques Optionnel-->
                            <td class="paddingTable" ng-show="ligne.option==0">{{'aucun' | translate}}</td>
                            <td class="paddingTable" ng-show="ligne.option==1">{{'avec_cadre' | translate}}</td>
                            <td class="paddingTable" ng-show="ligne.option==2">{{'avec_lisere' | translate}}</td>
                            <!--Bon de commande-->
                            <td class="paddingTable" ng-show="ligne.bonrepli==1">{{'avec_bat' | translate}}</td>
                            <td class="paddingTable" ng-show="ligne.bonrepli==2">{{'sans_bat' | translate}}</td>
                            <td class="paddingTable"> - </td>
                            <td class="paddingTable">{{ligne.dimension}}</td>
                            <td class="paddingTable">{{ligne.qte}}</td>
                            <!--td class="paddingTable">{{ligne.commentaire}}</td-->
                            <td class="paddingTable" style="text-align: center"><button type="button" class="btn btn-primary btn-circle1" ng-click="fiche.fnAlertCommentaire(ligne.commentaire)"><b>i</b></button></td>
                            <td class="paddingTable">{{ligne.prix}}</td>
                            <td>
                                <button type='button'
                                        class='btn btn-success btn-circle'
                                        style='margin-left: 5px;margin-top: 5px;'
                                        ng-click='fiche.fnImgClient(ligne)'>
                                    <i class='glyphicon glyphicon-picture'></i>
                                </button>
                                <button type='button'
                                        class='btn btn-info btn-circle'
                                        style='margin-left: 5px;margin-top: 5px;'
                                        ng-click='fiche.fnEditClient(ligne)'>
                                    <i class='glyphicon glyphicon-pencil'></i>
                                </button>
                                <button type='button'
                                        class='btn btn-default btn-circle'
                                        style='margin-left: 5px;margin-top: 5px;'
                                        ng-click=''>
                                    <i class='glyphicon glyphicon-trash'></i>
                                </button>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="" data-dismiss="modal">{{'quit' | translate}}</button>
                <button type="button" class="btn btn-success pull-right">{{'valider' | translate}}</button>
            </div>
        </div>
    </div>
</div>

