<header ng-include="'sections/admin/header.html'"></header>

<style>
    .myGrid {
        width: 100%;
        height: 100%;

    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div id="selCategory" class="col-md-5"><select class="sel_category" style="width: 100%;"></select></div>
            <div class="col-md-4 btn-group">
                <button type="button" class="btn btn-info" ng-click="gallery.fnCrudCategory(0)"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-warning" ng-click="gallery.fnCrudCategory(1)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-danger" ng-click="gallery.fnCrudCategory(2)"><span class="glyphicon glyphicon-picture"></span> Nouvelle Image</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div ui-grid="gridOptions"  ui-grid-resize-columns ui-grid-selection class="myGrid"></div>
    </div>
</div>

<div id="modalCategory" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> {{gallery.mode}} Category</h4>
            </div>
            <div class="modal-body" style="height: 250px">
                <div class="col-md-12">
                    <div class="col-md-2"><b>Libelle </b></div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="gallery.libelle" placeholder="Libelle" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-12" style="padding-top: 25px;">
                    <div class="col-md-2"><b>Code Couleur </b></div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="gallery.codeCouleur" placeholder="code couleur" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"><b>Active </b></div>
                    <div class="checkbox col-md-5 col-sm-5 col-xs-7" >
                        <label><input type="checkbox" ng-model="gallery.active"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" ng-click="gallery.fnQuitter()">Annuler</button>
                <button class="btn btn-success pull-right" ng-click="gallery.fnValider()">Valider</button>
            </div>
        </div>
    </div>
</div>

<div id="modalImage" class="modal fade" data-backdrop="static">
      <div class="modal-dialog" style="width: 50%;height: 300px;">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> {{gallery.mode}} Image</h4>
              </div>
              <div class="modal-body" style="width: 100%">
                  <div class="row">
                      <div class="col-md-12" style="padding-bottom: 5px">
                          <div class="col-md-2"><b>Reference </b></div>
                          <input type="text" style="width: 75%;" class="form-control col-md-7" ng-model="gallery.reference" placeholder="reference" aria-describedby="basic-addon1">
                      </div>
                      <div class="col-md-12">
                          <div class="col-md-2"><b>Libelle </b></div>
                          <input type="text" style="width: 75%" class="form-control col-md-8" ng-model="gallery.libelle" placeholder="Libelle" aria-describedby="basic-addon1">
                      </div>
                      <div class="col-md-12">
                          <div class="col-md-2" style="padding-top: 7px"><b>Actif </b></div>
                          <div class="checkbox col-md-1">
                              <label><input type="checkbox" ng-model="gallery.active"></label>
                          </div>
                      </div>
                      <div class="col-md-12" ng-show="!gallery.isRowModif">
                          <input class="col-md-5 col-md-offset-2" style="margin-top: 15px" type="file" nv-file-select="" uploader="uploader">
                      </div>
                      <div class="col-md-12" ng-show="gallery.isRowModif">
                          <img class="col-md-5 col-md-offset-2" src="{{gallery.imgsrc}}" style="width: 100px; height: 100px;">
                          <button class="btn btn-warning btn-sm" ng-click="gallery.fnModifImg()"><i class='glyphicon glyphicon-pencil'></i></button>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-danger pull-left" ng-click="gallery.fnQuitter()">Annuler</button>
                  <button ng-show="!gallery.isRowModif" class="btn btn-success pull-right" ng-click="uploader.uploadAll()">Valider UP</button>
                  <button ng-show="gallery.isRowModif" class="btn btn-success pull-right" ng-click="gallery.fnValidRow()">Valider</button>
              </div>
          </div>
      </div>
</div>

<div id="modalSrcImg" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 50%;height: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> {{gallery.mode}} Image</h4>
            </div>
            <div class="modal-body" style="width: 100%">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img src="{{gallery.imgsrc}}" style="width: 100%;height: 100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" ng-click="gallery.fnQuitter()">Annuler</button>
            </div>
        </div>
    </div>
</div>

<div id="modalDisplaySrcImg" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 50%;height: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> {{gallery.mode}} Image</h4>
            </div>
            <div class="modal-body" style="width: 100%">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 5px">
                        <div class="col-md-2"><b>Reference </b></div>
                        <input type="text" style="width: 75%;" class="form-control col-md-7" ng-model="gallery.reference" placeholder="reference" aria-describedby="basic-addon1">
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2"><b>Libelle </b></div>
                        <input type="text" style="width: 75%" class="form-control col-md-8" ng-model="gallery.libelle" placeholder="Libelle" aria-describedby="basic-addon1">
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2" style="padding-top: 7px"><b>Actif </b></div>
                        <div class="checkbox col-md-1">
                            <label><input type="checkbox" ng-model="gallery.active"></label>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="!gallery.isRowModif">
                        <input class="col-md-5 col-md-offset-2" style="margin-top: 15px" type="file" nv-file-select="" uploader="uploader">
                    </div>
                    <div class="col-md-12" ng-show="gallery.isRowModif">
                        <img class="col-md-5 col-md-offset-2" src="{{gallery.imgsrc}}" style="width: 100px; height: 100px;">
                        <button class="btn btn-warning btn-sm" ng-click="gallery.fnModifDisplayImg()"><i class='glyphicon glyphicon-pencil'></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" ng-click="gallery.fnQuitter()">Annuler</button>
                <button ng-show="!gallery.isRowModif" class="btn btn-success pull-right" ng-click="uploader.uploadAll()">Valider UP</button>
                <button ng-show="gallery.isRowModif" class="btn btn-success pull-right" ng-click="gallery.fnValidRow()">Valider</button>
            </div>
        </div>
    </div>
</div>