<header ng-include="'sections/admin/header.html'"></header>
<div class="row">
    <div class="col-md-12">
        <table ng-table="factures.tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">
                <td data-title="'No Commande'" filter="{id: 'number'}" sortable="'id'">{{row.id}}</td>
                <td data-title="'Etape'">{{row.status}}</td>
                <td data-title="'Prix'" ><b>{{row.total_prix_net| currency : "€ "}}</b></td>
                <td data-title="'Utilisateur'" ><b>{{row.name}} {{row.surname}}</b></td>
                <td data-title="'Société'" ><b>{{row.company_name}}</b></td>
                <td data-title="">
                    <button ng-show="row.pdf_src ==null" ng-click="factures.fnGeneratePdf(row.id)" class="btn btn-info btn-circle">G</button>
                    <span ng-show="row.pdf_src != null" ><a class="glyphicon glyphicon-picture" style="cursor:pointer;" target="_blank" href="../../../api/pdf/factures/{{row.pdf_src}}" ></a></span>
                    <button ng-show="row.pdf_src != null" class="btn btn-primary btn-circle" ng-click="factures.fnSendEmail(row.id)"><span class="glyphicon glyphicon-send"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer class="sig">

</footer>

